# Библиотеки для тестирования
pytest==7.4.0
pytest-allure==2.9.0  # Для интеграции с Allure

# Allure
allure-pytest==2.10.0  # Для генерации отчетов Allure

# Selenium
selenium==4.17.0  # Для автоматизации браузера

# Дополнительные библиотеки
requests==2.28.1  # Для HTTP-запросов
pytest-html==3.2.0  # Для генерации HTML-отчетов
pytest-cov==4.0.0  # Для покрытия кода

# Асинхронные тесты
pytest-asyncio==0.20.3  # Для тестов с asyncio

# Библиотеки для работы с базами данных
SQLAlchemy==1.4.47  # Для работы с БД
pytest-sqlalchemy==0.8.0  # Для тестирования с использованием SQLAlchemy

# Убедитесь, что у вас установлен Allure Commandline
# Инструкции по установке можно найти на https://docs.qameta.io/allure/#_installing_a_commandline
